<head>
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400" rel="stylesheet">
</head>
<div class="center-xs colores">
<h1 class="center-xs">Almacenamiento de la bateria</h1>
<%if @almacenado==0%>
  <h1 style = "color: #86898A"><%=image_tag "batteryEmpty.png"%> <%=@almacenado%> Ah</h1>
<%elsif @almacenado<30%>
  <h1 style = "color: #86898A"><%=image_tag "battery1.png"%> <%=@almacenado%> Ah</h1>
<%elsif @almacenado >=30 and @almacenado<70%>
  <h1 style = "color: #86898A"><%=image_tag "battery2.png"%> <%=@almacenado%> Ah</h1>
<%elsif @almacenado>=70 and @almacenado<101%>
  <h1 style = "color: #86898A"><%=image_tag "battery3.png"%> <%=@almacenado%> Ah</h1>
<%elsif @almacenado>=101 and @almacenado<195%>
  <h1 style = "color: #86898A"><%=image_tag "battery4.png"%> <%=@almacenado%> Ah</h1>
<%else @almacenado>=195 and @almacenado<200%>
  <h1 style = "color: #86898A"><%=image_tag "batteryFull.png"%> <%=@almacenado%> Ah</h1>
<%end%>
</div>
