<h1>Datos de python</h1>

<p>Valores de los sensores temperatura: <%=@dato.tempeatura%></p>
<p>Valores de los sensores presion: <%=@dato.presion%></p>
<p>Valores de los sensores humedad: <%=@dato.humedad%></p>
<p>Valores de los sensores energia de entrada: <%=@dato.enegiaEntrada%></p>
<p>Valores de los sensores energia de salida: <%=@dato.energiaSalida%></p>
<p>Valores de los sensores carga de la bateria: <%=@dato.carga%></p>
<p>Valores de los sensores clima: <%=@dato.clima%></p>
